<div class="cardContainer flex">
    {% for article in articles %}
        <div class="card singlecard" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ article.title|capitalize }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ article.category.title|capitalize }}</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    {% endfor %}
</div>